# Data Science Tools and Ecosystem

In this notebook data science tools and ecosystem are summarized

Objectives:
- **popular languages that data scientist**
- **commonly used libraries by data scientist**
- **simple arithmetic expression**

Some of the popular languages that data scientist use are
1. python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries by data scientist include
1. Scientific computing Libraries
2. Visulaization libraries
3. Machine Learning and deep learning libraries
4. Other Language libraries

|Data Science Tools|
|------------------|
|R studio|
|Jupyter Notebook|
|spyder|

### Below are few examples of evaluating arithmetic expressions in python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Richu Thomas Noble